In [1]:
# ! pip install pyarrow

In [3]:
import numpy as np
import pandas as pd
import os
from datetime import datetime
import pyarrow.parquet as pq

In [ ]:
dirname = './dataset/'

In [4]:
df = pq.read_table(os.path.join(dirname, 'part-00000-8bbff892-97d2-4011-9961-703e38972569.c000.snappy.parquet'))

In [5]:
df = df.to_pandas()

In [6]:
df.shape

(3034553, 9)

In [7]:
df.columns

Index(['trj_id', 'driving_mode', 'osname', 'pingtimestamp', 'rawlat', 'rawlng',
       'speed', 'bearing', 'accuracy'],
      dtype='object')

In [8]:
df.sample(10)

,trj_id,driving_mode,osname,pingtimestamp,rawlat,rawlng,speed,bearing,accuracy
2829824,73226,car,ios,1555474778,1.309400,103.836378,3.311461,339,12.000
2175279,75066,car,ios,1555835481,1.347117,103.953362,24.559999,17,5.000
2093232,75898,car,ios,1554937329,1.375251,103.933234,17.023006,114,8.000
1137372,78088,car,android,1554821193,1.357922,103.700261,18.440000,42,3.900
1097943,60047,car,android,1554999541,1.387755,103.858369,25.710000,178,3.900
2393126,19551,car,android,1555744205,1.319289,103.851394,1.560000,271,3.231
656653,75325,car,android,1554735734,1.432515,103.787793,12.709521,14,3.900
2685676,45918,car,android,1555120361,1.318678,103.875361,16.250000,196,3.900
1911868,24685,car,android,1555231363,1.335467,103.929222,20.010000,268,4.551
1646085,69743,car,android,1555460644,1.427563,103.840844,7.440000,175,3.900

In [10]:
df.describe(include='all')

,trj_id,driving_mode,osname,pingtimestamp,rawlat,rawlng,speed,bearing,accuracy
count,3034553,3034553,3034553,3.034553e+06,3.034553e+06,3.034553e+06,3.034553e+06,3.034553e+06,3.034553e+06
unique,28000,1,2,NaN,NaN,NaN,NaN,NaN,NaN
top,78371,car,android,NaN,NaN,NaN,NaN,NaN,NaN
freq,674,3034553,1611569,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.555321e+09,1.347838e+00,1.038385e+02,1.632385e+01,1.788060e+02,7.203172e+00
std,NaN,NaN,NaN,3.579592e+05,4.013940e-02,6.358735e-02,7.160838e+00,1.017346e+02,6.257499e+00
min,NaN,NaN,NaN,1.554682e+09,1.241585e+00,1.036144e+02,-1.000000e+00,0.000000e+00,1.000000e+00
25%,NaN,NaN,NaN,1.554999e+09,1.322302e+00,1.037903e+02,1.171740e+01,9.300000e+01,4.000000e+00
50%,NaN,NaN,NaN,1.555343e+09,1.339903e+00,1.038394e+02,1.789741e+01,1.720000e+02,6.000000e+00
75%,NaN,NaN,NaN,1.555645e+09,1.377494e+00,1.038748e+02,2.186529e+01,2.690000e+02,1.000000e+01
max,NaN,NaN,NaN,1.555891e+09,1.465609e+00,1.040314e+02,8.900000e+01,3.590000e+02,2.465000e+03

There are 28,000 unique trips on this data-set. Android is the most popular OS. 

We now handle date-times. We convert the POSIX timestamp into a readable date and time format, storing the results back in the pandas data-frame

In [11]:
date = []
time = []

In [12]:
def convert_to_readable_time(timestamp):
    date_time = datetime.utcfromtimestamp(int(timestamp))
    date.append(date_time.date())
    time.append(date_time.time())

In [13]:
df['pingtimestamp'].apply(convert_to_readable_time)

0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11         None
12         None
13         None
14         None
15         None
16         None
17         None
18         None
19         None
20         None
21         None
22         None
23         None
24         None
25         None
26         None
27         None
28         None
29         None
           ...
3034523    None
3034524    None
3034525    None
3034526    None
3034527    None
3034528    None
3034529    None
3034530    None
3034531    None
3034532    None
3034533    None
3034534    None
3034535    None
3034536    None
3034537    None
3034538    None
3034539    None
3034540    None
3034541    None
3034542    None
3034543    None
3034544    None
3034545    None
3034546    None
3034547    None
3034548    None
3034549    None
3034550    None
3034551    None
3034552    None
Name: pingtimestamp, Length: 3034553, dtype: object

In [14]:
df['date'] = date
df['time'] = time

In [15]:
df.drop(columns=['pingtimestamp'],axis=0,inplace=True)

In [16]:
df.sample(5)

,trj_id,driving_mode,osname,rawlat,rawlng,speed,bearing,accuracy,date,time
1047787,72214,car,ios,1.419312,103.800452,18.306208,127,8.0,2019-04-19,09:48:32
2546073,69841,car,ios,1.295575,103.879051,4.537097,88,8.0,2019-04-18,10:03:07
502010,80562,car,ios,1.435337,103.846490,20.620001,144,10.0,2019-04-17,06:01:29
1692277,62090,car,android,1.396622,103.857485,13.530000,162,3.9,2019-04-12,01:24:31
2124529,76884,car,ios,1.328910,103.866713,23.049999,143,10.0,2019-04-14,14:51:00

In [20]:
df.set_index('trj_id').sort_index()

,driving_mode,osname,rawlat,rawlng,speed,bearing,accuracy,date,time
trj_id,,,,,,,,,
10,car,android,1.318901,103.809196,5.383163,52,8.000,2019-04-09,11:30:11
10,car,android,1.360123,103.843906,9.891377,119,6.000,2019-04-09,11:44:20
10,car,android,1.318188,103.808385,2.131645,47,4.581,2019-04-09,11:29:36
10,car,android,1.301523,103.801057,12.859064,14,8.000,2019-04-09,11:26:56
10,car,android,1.327776,103.813891,6.140608,5,6.000,2019-04-09,11:34:04
10,car,android,1.351031,103.839720,3.782225,13,6.966,2019-04-09,11:40:57
10,car,android,1.319438,103.810117,4.661962,65,6.000,2019-04-09,11:30:46
10,car,android,1.356139,103.841559,18.003040,10,8.000,2019-04-09,11:42:46
10,car,android,1.314630,103.804716,17.283490,22,12.000,2019-04-09,11:28:30
10,car,android,1.303717,103.801454,16.793169,6,8.000,2019-04-09,11:27:13
10,car,android,1.358016,103.845158,2.667344,196,8.095,2019-04-09,11:44:53
10,car,android,1.334889,103.818130,9.558050,32,4.000,2019-04-09,11:35:40
10,car,android,1.341027,103.828922,15.096211,99,8.000,2019-04-09,11:37:31
10,car,android,1.335579,103.818468,10.646531,21,4.000,2019-04-09,11:35:48
10,car,android,1.323074,103.813274,4.872042,11,4.000,2019-04-09,11:32:30
10,car,android,1.347230,103.838378,6.375805,341,6.000,2019-04-09,11:39:09
10,car,android,1.321002,103.812331,7.851167,43,6.000,2019-04-09,11:31:51
10,car,android,1.308021,103.802469,15.230713,20,8.000,2019-04-09,11:27:47
10,car,android,1.306247,103.801838,13.269312,19,8.000,2019-04-09,11:27:32
10,car,android,1.349894,103.839509,15.094097,8,6.000,2019-04-09,11:40:46
10,car,android,1.342895,103.837958,15.222725,42,8.000,2019-04-09,11:38:33
10,car,android,1.345887,103.838509,16.072214,4,6.000,2019-04-09,11:38:53
10,car,android,1.321545,103.812791,7.931362,41,6.000,2019-04-09,11:32:03
10,car,android,1.300786,103.800461,2.515074,111,5.224,2019-04-09,11:26:19
10,car,android,1.323455,103.813341,2.897207,11,3.548,2019-04-09,11:32:40
10,car,android,1.318846,103.809124,4.380468,52,8.000,2019-04-09,11:30:09
10,car,android,1.319735,103.810757,2.053355,66,3.368,2019-04-09,11:31:13
10,car,android,1.333085,103.816771,15.522287,35,4.000,2019-04-09,11:35:07
10,car,android,1.325290,103.813668,6.118310,8,4.000,2019-04-09,11:33:14
10,car,android,1.359584,103.844567,9.010115,128,8.000,2019-04-09,11:44:30
...,...,...,...,...,...,...,...,...,...
9984,car,ios,1.278525,103.823774,0.532553,186,12.000,2019-04-20,01:53:13
9984,car,ios,1.324933,103.741895,22.311903,124,12.000,2019-04-20,01:42:20
9984,car,ios,1.279960,103.818593,14.797242,121,8.000,2019-04-20,01:51:27
9984,car,ios,1.261303,103.823817,11.515715,177,4.000,2019-04-20,01:58:52
9984,car,ios,1.268496,103.825528,8.801407,155,8.000,2019-04-20,01:55:40
9984,car,ios,1.298649,103.781123,15.343309,118,12.000,2019-04-20,01:47:20
9984,car,ios,1.293822,103.786498,19.027702,138,16.000,2019-04-20,01:48:03
9984,car,ios,1.247863,103.837880,6.227751,84,12.000,2019-04-20,02:04:21
9984,car,ios,1.326484,103.725512,9.752789,158,16.000,2019-04-20,01:40:22
9984,car,ios,1.327250,103.738366,21.372160,105,12.000,2019-04-20,01:41:57
9984,car,ios,1.329726,103.724846,11.610099,182,6.000,2019-04-20,01:39:16
9984,car,ios,1.252933,103.826060,8.797863,221,12.000,2019-04-20,02:00:49
9984,car,ios,1.253293,103.826205,0.371735,171,16.000,2019-04-20,02:00:33
9984,car,ios,1.278937,103.823845,5.660621,168,16.000,2019-04-20,01:52:57
9984,car,ios,1.246393,103.836408,10.557008,63,8.000,2019-04-20,02:03:54
9984,car,ios,1.329939,103.724857,11.073045,182,8.000,2019-04-20,01:39:14
9984,car,ios,1.326680,103.733305,20.865700,76,8.000,2019-04-20,01:41:31
9984,car,ios,1.287855,103.794792,19.607372,121,8.000,2019-04-20,01:48:59
9984,car,ios,1.301233,103.776809,14.725027,118,8.000,2019-04-20,01:46:41
9984,car,ios,1.326001,103.725700,12.306648,158,16.000,2019-04-20,01:40:27
9984,car,ios,1.309568,103.765216,17.632486,138,12.000,2019-04-20,01:45:14
9984,car,ios,1.318792,103.756644,14.323397,140,12.000,2019-04-20,01:43:50
9984,car,ios,1.306697,103.767403,19.204130,133,12.000,2019-04-20,01:45:36
9984,car,ios,1.253969,103.825682,11.028461,141,6.000,2019-04-20,02:00:04
9984,car,ios,1.250961,103.825261,9.235806,135,8.000,2019-04-20,02:01:33
9984,car,ios,1.323305,103.746581,19.300228,102,8.000,2019-04-20,01:42:49
9984,car,ios,1.292377,103.788180,19.375011,124,12.000,2019-04-20,01:48:15
9984,car,ios,1.330140,103.724869,10.787384,183,8.000,2019-04-20,01:39:12
9984,car,ios,1.303649,103.772326,20.564421,114,12.000,2019-04-20,01:46:10
9984,car,ios,1.267012,103.826421,8.585921,146,6.000,2019-04-20,01:57:34

What visualisations could we do?

* **visualising speed changes - static, outside map**
    * throughout the day
    * throughout months
    * throughout the year
* **visualising congestion - interactive, on map**
    * throughout the day
    * throughout months
    * throughout the year